
* {
  box-sizing: border-box;
  
}
html{
  font-size: 18px;
}
body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Lato",  sans-serif;
}
p{
  min-width: 200px;
}
nav ul { 
  margin: 0 0 0 0;
  z-index: 10;
  top: 0;
  width: 100%;
  position: fixed;
  list-style: none;
  padding: 0;
  overflow: hidden;
  background-color: #0d0d0d;
  display: table;
  
}
nav li { 
  display: table-cell;
}
li a {
  display: block;
	color: white;
	text-align: center;
	padding: 30px 30px;
	text-decoration: none;
}
li a:hover {
  color: #0d0d0d;
  background-color: white;
  border-color: #0d0d0d;
}
header {
  margin:20% 15px ;
}
h1 {
  font-size: 3rem;
  color: #0d0d0d;
}
section {
  margin-left: 15px;
}
div.image {
  max-width: 100%;
  margin: 10px 10px;
  clear: left;
  float: right;
  text-align: center;
  
}
#pluto {
  width:50%;
  max-width: 600px;
  min-width: 200px;
  text-align: center;
  border: 0 #0d0d0d solid;
  border-radius: 50%;
}
article {
  display: inline-block;
  text-align: left;
	margin: 15px;
  max-width: 750px;
  font-size: 1.125rem;
}
#intro p {
  text-align: left;
	margin: 15px;

}
figure figcaption {
  text-align: center;
  margin:30px auto;
  font-family: "lato:ital";
  
  
}
ol li {
  font-family: "Lato:ital";
}
h2 {
  font-size: 1.5rem;
}
th {
  
  border-radius: 30px;
  border: 2px solid #0d0d0d;
  width:200px;
}
table {
  
  
  text-align: center;
  margin: 20px auto;
}
td {
  border-radius: 30px;
  border: 2px solid #0d0d0d;
  width: 200px; 
}