html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
      background: linear-gradient(-45deg,#0b2232,#0b2232);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
  }
  header {
      
    background: url(./src/1.jpg); 
    background-size: cover;
    background-position: center;
    height: 800px;
    
  }
.welcome {
  color: azure;
}
  ul {
   text-align: center;
    color:white;
    list-style: none;
    letter-spacing: 50%;
   }
 h1 {
     font-size: 80px;
     text-align: center ; 
 }
 p {
     font-size: 35px;
     text-align: center ;  
 }
 div .destination{
   margin:0 auto;
   width:90px;
}
 a {
   color: white;
 }
 .destination a {
  background: red;
  border: 1px solid red;
  border-radius: 3px;
  color: white;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
}

.destination a:hover {
  text-align: center;
  background: white;
  border: 1px solid red;
  color: red;
  
}